<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <span>Schools</span>
    <div class="list-group">
            <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-th-list"></i>&nbsp;
                <span>{{ 'Add School' | translate }}</span>
            </a>
            <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-edit"></i>&nbsp;
                <span>{{ 'Save School' | translate }}</span>
            </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'List School' | translate }}</span>
        </a>
        <a [routerLink]="['/user-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'User List' | translate }}</span>
        </a>
    </div>
    <!-- <div class="list-group-group">Schools</div> -->
    <div *ngFor="let school of schools" class="list-group">
        <ul class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ school.schoolname | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Data' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link']" class="list-group-item">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                            <span>{{ 'Charts' | translate }}</span>                       
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
